extends ../../templates/base.pug

block vars
  - var htmlClass = 'press';

block body
  .content-box
    p I feel it is important for the public to understand Wikipedia—foremost
      |  how it works, but also the challenges we face as a project,
      |  particularly when it comes to diversity of editors and
      |  content. I also sometimes speak about technology, diversity, and
      |  online harassment, both in and outside of the context of Wikipedia.

    h3 Press and other mentions

    .tags-list
      span.title
        b Filter by tag
      div
        for tag in tags
          button(class=["tag", 'tag-' + tag], onclick='onTagClick("' + tag + '")', aria-pressed="false") #{tag}

    div.articles(aria-live="polite")
      each article in articles
        div(class='article', data-tags=article.tags.join(','))
          div.title
            a(href=article.href) "#{article.title}"

            if article.parenthetical
              |  (#{article.parenthetical})

            if article.parenthetical || !article.title.match(/[.?!]$/m)
              |.

          div.byline
            if article.author
              | #{article.author} #{article.preposition}

            if article.work
              if !article.workItalics
                | #{article.work}.
              else
                i #{article.work}.

            if article.publisher
              |  #{article.publisher}.

            if article.formattedDate
              |  #{article.formattedDate}.
            else
              |

          if article.tags
            div(class="tags")
              span.tags= article.tags.join(', ')

block pre-javascript
  script(src='js/polyfills/classlist-polyfill.js')
  script(src='js/polyfills/url-search-params-polyfill.js')
block post-javascript
  script(src='js/press.js')
