extends ../../templates/base.pug

block vars
  - var htmlClass = 'press';

block body
  .content-box
    p I sometimes speak to journalists because I feel it is important to educate the public about 
      | Wikipedia—foremost to teach people how it works, but also to discuss the challenges we face
      | as a project, particularly when it comes to diversity of editors and content. I have also
      | discussed topics including online harassment and technology more generally.
    
    h3 Press and other mentions
    
    each article in articles
      div(class=['article'].concat(article.tags.map(function(t) { return "tag-" + t })))
        a(href=article.href) "#{article.title}"

        if article.parenthetical 
          |  (#{article.parenthetical})
        
        if article.parenthetical || !article.title.match(/[.?!]$/m)
          |. 
        else 
          | 

        if article.author
          | #{article.author} #{article.preposition} 
          
        if !article.workItalics
          | #{article.work}
        else
          i #{article.work}

        if article.formattedDate
          |, #{article.formattedDate}.
        else
          |.
        
        div(class="tags")
          each tag in article.tags
            a(class="tag") #{tag}