extends ../../templates/base.pug

block vars
  - var htmlClass = 'ftx-contagion';

block head
  include ../../mixins/titleAndDescription.pug
  +titleAndDescription('FTX Contagion', 'Charting the FTX collapse.')
  meta(property='og:image', content='https://mollywhite.net/storage/ftx-contagion-social.webp')
  meta(
    property='og:image:alt',
    content='A chart showing the contagion between the FTX collapse and other crypto platforms and projects'
  )
  meta(property='og:image:width', content='1480')
  meta(property='og:image:height', content='740')
  meta(property='og:url', content='https://www.mollywhite.net/etc/ftx-contagion')
  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:creator', content='@molly0xfff')
  meta(name='twitter:title', content='FTX Contagion')
  meta(name='twitter:description', content='Charting the FTX collapse.')
  meta(name='twitter:image', content='https://mollywhite.net/storage/ftx-contagion-social.webp')
  meta(
    name='twitter:image:alt',
    content='A chart showing the contagion between the FTX collapse and other crypto platforms and projects'
  )

block body
  .content-box
    .header
      h2 FTX Contagion
      p#last-updated.small
      p Am I missing something?&nbsp;
        a(
          href='https://github.com/molly/ftx-contagion/issues/new?assignees=&labels=new&template=new.yml&title=%5BNEW%5D%3A+',
          target='_blank'
        ) Suggest an addition.
    .graphics-wrapper
      .legend
        img(
          src='https://www.mollywhite.net/storage/ftx-legend.svg',
          alt='Color key. Red: collapse. Orange: withdrawal pause. Yellow: other. Icon key. Lock: Funds locked in FTX.'
        ) 
      .contagion
        object(
          data='https://www.mollywhite.net/storage/ftx-contagion.svg',
          type='image/svg+xml',
          aria-label='Diagram of the contagion between the FTX collapse and other crypto platforms and projects'
        )

  block pre-javascript
    script(src=`${importPrefix || ''}/js/contagion.js`)
