extends ../templates/blank.pug

block vars
  - var htmlClass = 'linktree';

block head
  include ../mixins/titleAndDescription.pug
  +titleAndDescription('Molly White\'s Link Tree', 'Relevant links for Molly White')

block body
  .linktree-content 
    |
    .wrapper 
      |
      a.linktree-link(href='https://www.mollywhite.net/', target='_blank') Website
      a.linktree-link(href='https://blog.mollywhite.net/', target='_blank') Essays
      a.linktree-link(href='https://newsletter.mollywhite.net/', target='_blank') Newsletter
      a.linktree-link(href='http://web3isgoinggreat.com/', target='_blank')
        i Web3 is Going Just Great
      a.linktree-link(href='https://account.venmo.com/u/MollyWhite', target='_blank') Venmo
      a.linktree-link(href='https://www.mollywhite.net/crypto-disclosures', target='_blank') Cryptocurrency disclosures
      a.linktree-link(href='https://www.mollywhite.net/reading', target='_blank') Reading lists
      a.linktree-link(href='https://www.mollywhite.net/press', target='_blank') Press
      a.linktree-link(href='https://www.mollywhite.net/wikipedia-concern', target='_blank') Wikipedia FAQ
      .social-links
        a(href='https://twitter.com/molly0xFFF', title='Twitter', target='_blank')
          i.fab.fa-twitter(alt='', aria-hidden='true')
        a(href='https://github.com/molly', aria-label='GitHub', title='GitHub', target='_blank')
          i.fab.fa-github(alt='', aria-hidden='true')
        a(
          href='https://en.wikipedia.org/wiki/User:GorillaWarfare',
          aria-label='Wikipedia',
          title='Wikipedia',
          target='_blank'
        )
          i.fab.fa-wikipedia-w(alt='', aria-hidden='true')
        a(
          href='https://hachyderm.io/@molly0xfff',
          aria-label='Mastodon',
          title='Mastodon',
          target='_blank'
        )
          i.fab.fa-mastodon(alt='', aria-hidden='true')
        a(href='mailto:molly@mollywhite.net', aria-label='Email', title='Email', target='_blank')
          i.fas.fa-envelope(alt='', aria-hidden='true')
